/*
clip path
chips css

font-family: 'Nunito Sans', sans-serif;
*/

.header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1;
    height: 250px;
}

.logos {
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    justify-content: space-around;
}


/* Caso queira ajustar cada logo individualmente
.logo_Projeto {}

.logo_Labs {}

.Nome_Escrito {}
*/

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #4F628E;
}

.teste{
    clip-path: polygon(100% 0, 0 61%, 100% 82%);
    background: black;
    z-index: -1;
}

.input_block {
    display: flow-root;
    flex-grow: 4;
    width: 780px;
}

.input_Data {
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 10px;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5% 0%;
}

.body {
    display: flex;
    justify-content: space-around;
    height: 518px;

}

.total_Areas {
    display: flex;
    justify-content: space-evenly;
}

.area_container {
    background-color: #FFF;
    margin: 0 5%;
    border-radius: 5%;
    height: 90%;
    margin-top: -40px;
    z-index: -1;
}



.production_area {
    color: #FFF;
    text-align: center;
    display: flex;
    justify-content: center;
}

.area {
    background-color: #421B61;
    border-radius: 100px;
    margin: 0 5%;
    height: 10%;
    padding: -5px;
}

.line>input {
    margin: 0 5%;
    width: 80px;
}

.Calcular {
    margin-top: -6%;
}

.Calcular>input {
    border-radius: 8px;
    font-size: 24px;
    background-color: #0A2144;
    width: 96%;
    color: #FFF;
    text-align: center;
    display: flex;
    justify-content: center;
    border-color: #FFF;
    margin: 0 2%;
    border: 1px solid white;
}


/* Formatação de Textos */

.title {
    font-size: 3em;
    color: #FFF;
    display: block;
    text-align: center;
}

.title_cons {
    font-size: 2em;
    color: #FFF;
    display: block;
    text-align: center;
}

.title_prod {
    font-size: 2em;
    color: #FFF;
    display: block;
    text-align: center;
}

.information_panel {
    font-size: 1.5em;
    color: #000;
}

.output {
    display: flow-root;
}

.output_container {
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.output_pred {
    display: flex;
    background-color: #421B61;
    border-radius: 50px;
    margin: 5% 0%;
    padding: 0 20px;
}

.output_pred img {
    float: left;
    margin: 0 30px 0 -40px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #421B61;
}

.output_panel {
    font-size: 20px;
    color: #FFF;
}

.grid {
	display: grid;
}

/* 100px é o valor total, ignora conteúdo, margem e etc. Respeita apenas o min-width do item.*/
.grid-template-columns-1 {
	grid-template-columns: 100px 100px 100px 100px;
}

/* fr é uma unidade fracional */
.grid-template-columns-2 {
	grid-template-columns: 1.5fr 1fr;
}

/* minmax define um valor mínimo e máximo para a coluna */
.grid-template-columns-3 {
	grid-template-columns: 1fr 1fr 1fr;
}

/* O repeat vai repetir o número de colunas */
.grid-template-columns-4 {
	grid-template-columns: repeat(3, 1fr);
}

/* Auto-fit vai calcular automaticamente o total de colunas */
.grid-template-columns-5 {
	grid-template-columns: repeat(auto-fit, 100px);
}

/* Com o auto-fit realmente é criado um layout responsivo */
.grid-template-columns-6 {
	grid-template-columns: repeat(auto-fit, minmax(100px, auto));
}

/* Com o auto-fit realmente é criado um layout responsivo */
.grid-template-columns-7 {
	grid-template-columns: repeat(auto-fill, minmax(100px, auto));
}


/* Estilos Gerais */
.input_Data_2 {
    margin-left: 10px;
    margin-top: 10px;
}

.grid {
	margin: 0 auto;
	/* border: 1px solid #ccc; */
}

.area_container_2 {
    background-color: #FFF;
    border-radius: 10px 10px 0px 0;
    height: 100%;
}

.area_2 {
    background-color: #421B61;
    border-radius: 5px 5px 0px 0;
}

.production_area_2 {
    color: #FFF;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 1.17em;
    font-weight: bold;
}

.Calcular_2 {
    margin-top: 10px;
}

.Calcular_2>input {
    border-radius: 8px;
    font-size: 24px;
    background-color: #0A2144;
    width: 96%;
    color: #FFF;
    text-align: center;
    display: flex;
    justify-content: center;
    border-color: #FFF;
    margin: 0 2%;
    border: 1px solid white;
}