/*
clip path
chips css

font-family: 'Nunito Sans', sans-serif;
*/

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #4F628E;
}

.header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1;
}

.logos {
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    justify-content: space-around;
}

.logo_Projeto {}

.logo_Labs {}

.Nome_Escrito {}

.input_block {
    display: flow-root;
    flex-grow: 4;
}

.input_Data {
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10% 0%;
}

.body {
    display: flex;
    justify-content: space-around;
}

.total_Areas {
    display: flex;
    justify-content: space-evenly;
}

.area_container {
    background-color: #FFF;
    margin: 0 5%;
    border-radius: 5%;
    height: 75%;
}

.line>input {
    margin: 0 5%
}

.output_container {
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


/* Formatação de Textos */

.title {
    font-size: 3em;
    color: #FFF;
    display: block;
    text-align: center;
}

.title_cons {
    font-size: 2em;
    color: #FFF;
    display: block;
    text-align: center;
}

.title_prod {
    font-size: 2em;
    color: #FFF;
    display: block;
    text-align: center;
}

.information_panel {
    font-size: 1.5em;
    color: #000;
}

.production_area {
    font-size: 2em;
    color: #FFF;
    text-align: center;
    display: flex;
    justify-content: center;
}

.area {
    background-color: #421B61;
    border-radius: 100px;
    margin: 0 5%;
}

.output_panel {
    font-size: 20px;
    color: #FFF;
}

.output {
    display: flow-root;
    flex-grow: 2;
}

.output_pred {
    display: flex;
    background-color: #421B61;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    margin: 5% 0%;
}

.output_pred img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}